html {
    height: 100%;
}

body {
    background-repeat: no-repeat;
    background-color: teal;
    /* color: rgb(21, 36, 36) */
    /* background: radial-gradient(purple, rgb(128, 130, 128)); */
}

a {
    color: white;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

/* DEJA HISTORY STYLING */

#deja-history {
    padding: 0px;
    background-color: rgb(27, 49, 49);
    justify-content: center;
}

#deja-history img {
    max-height: 200px;
    width: 100%;
    /* background-position: center;
    background-repeat: no-repeat; */
    object-fit: cover;
}
/* button #deja-history {
    width: 100%;
} */

.container {
    max-width: 100%;
}

/* END DEJA HISTORY STYLING */

/* DEJA RESULT STYLING */

@media(max-width: 768px) {
    button.full-width {
        width: 100%;
    }
}

/* END DEJA RESULT STYLING */

/* FILMOGRAPHY STYLING */

.btn-secondary {
    background-color: rgb(27, 49, 49) !important;
}

/* Resizes and centers full-size headshot */
.headshot {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}
