/* Old colors, teal and rgb(27, 49, 49) */

:root  {
    --main-bg-color: #dd74df;
    --main-bold-color: #69006d;
    --main-dark-color: #48004b;
}

html {
    position: relative;
}

.container {
    padding-bottom: 58px;
    max-width: 420px;
}

body {
    background-repeat: no-repeat;
    background-color: var(--main-bg-color);
    font-family: 'Oswald', sans-serif;
    background: radial-gradient(var(--main-bg-color), var(--main-bold-color)) fixed;
    position: relative;
}

.footer {
    position : fixed;
    bottom : 0;
    padding: 10px;
    background-color: var(--main-dark-color);
    width: 100%;
    margin: 0;
  }

a {
    color: white;
}

a:hover {
    color: whitesmoke;
    text-shadow: 0px 0px 6px whitesmoke;
}

img {
    max-width: 100%;
}

li {
    list-style-type: none;
}

h1 {
    font-family: 'Fontdiner Swanky', cursive;
}

#home  {
    font-family: 'Fontdiner Swanky', cursive;
}

.alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* INDEX STYLING */
#title {
    font-size: 4em;
    transform: translateY(30%);
}

#landing-msg {
    transform: translateY(95%);
}

/* DEJA BUTTON */

#deja-link {
    width: 200px;
    height: 200px;
}

button.deja-button {
    border: none;
    margin: 0;
}

.deja-button {
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    float:left;
    height: 200px;
    margin: 0 30px 30px 0;
    position: relative;
    width: 200px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    top: 42%;
}

.deja-button:after {
    color:#e9e6e4;
    content: "";
    display: block;
    font-size: 30px;
    height: 30px;
    text-decoration: none;
    text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
    position: absolute;
    width: 30px;
}

.txt:after {
    content: "deja!";
    font-size: 4em;
    left: 16px;
    top: 65px;
    font-family: 'Fontdiner Swanky', cursive;
    -ms-transform: rotate(-10deg); /* IE 9 */
    -webkit-transform: rotate(-10deg); /* Safari */
    transform: rotate(-10deg);
    color: var(--main-bold-color);
    text-shadow:0px 0px 6px var(--main-bold-color);
}

.deja-button:hover {
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
}

.txt:hover:after {
    color: var(--main-bold-color);
    text-shadow:0px 0px 6px var(--main-bold-color);
}

.deja-button:active {
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.deja-button:focus {
    outline: 0;
}

/* DEJA HISTORY STYLING */

.deja-history {
    padding: 0px;
    justify-content: center;
}

.history-item {
    position: relative;
}

.text-block {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
  }

.deja-history img {
    max-height: 200px;
    width: 100%;
    /* background-position: center;
    background-repeat: no-repeat; */
    object-fit: cover;
}

.history-delete {
    justify-content: center;
    width: 100%;
    margin: 0;
}
/* END DEJA HISTORY STYLING */

/* DEJA RESULT STYLING */

.uploaded {
    display: block;
    margin: 0 auto;
}

.empty-history {
    transform: translateY(90%);
}

@media(max-width: 768px) {
    button.full-width {
        width: 100%;
    }
}

/* END DEJA RESULT STYLING */

/* FILMOGRAPHY STYLING */

.btn-secondary {
    background-color: var(--main-bold-color) !important;
    border-color: whitesmoke !important;
}

/* Resizes and centers full-size headshot */
.headshot {
    max-width: 50%;
    display: block;
    margin: 0 auto;
}

/* Loading GIF */

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
  }

#overlay img {
    position: fixed;
    transition: .5s ease;
    z-index: 11;
    top: 30%;
    /* Creates full screen GIF */
    /* width: 100%;
    height: 100%; */
}

#overlay.hidden {
    display: none;
}

/* WATCHLIST STYLING */

.nav-tabs {
    border-bottom: 2px solid whitesmoke !important;
}

nav > .nav.nav-tabs{
    border: none !important;
    color:#fff;
    background: var(--main-bold-color);
    border-radius:0;
}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active
{
    border: none;
    padding: 18px 25px;
    color:#fff;
    background: var(--main-bold-color);
    border-radius:0;
}

nav > div a.nav-item.nav-link.active:after
{
    content: "";
    position: relative;
    bottom: -60px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: var(--main-bold-color);
}

.tab-content{
    line-height: 25px;
    padding: 15px, 0;
    margin-top: 10px;
}

/* nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus
{
    border: none;
    background: var(--main-bold-color);
    color:#fff;
    border-radius:0;
    transition:background 0.20s linear;
} */