{% extends 'index.html' %}

{% block content %}
<h1>Deja</h1>
<form method="post" enctype="multipart/form-data" id="deja-form">
    {% csrf_token %}
    <h6>Upload a screenshot and click the button below to deja!</h6>
    <div class="row justify-content-center">
        <input type="file" class="btn btn-secondary" name="image" id="image">
        <input type="hidden" name="url" id="url">
        <br />
    </div>
    <br />
</form>
    <div class="row justify-content-center">
        <button type="button" class="deja-button txt" id="deja-submit" alt="Click to submit deja." onclick="uploadImage()"></button>
    </div>

{% endblock content %}