{% extends 'index.html' %}

{% block content %}
<h1>Deja</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h5>Upload a screenshot and click the button below to get your matches</h5>
    <input type="file" class="btn btn-secondary" name="image" id="image">
    <input type="hidden" name="url" id="url">
    <button type="button" class="btn btn-secondary" onclick="uploadimage()">Upload</button>
    <br />
    <!-- <div class="deja-button txt"> -->
        <input type="submit" value="DEJA">
    <!-- </div> -->

</form>
{% endblock content %}