{% extends 'index.html' %}

{% block content %}
<h1>History</h1>

{% if messages %}
<div class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
            <strong>{{ message }}</strong>
    </div>
    {% endfor %}
</div>
{% endif %}

{% for deja in dejas %}
<div class="container-fluid deja-history">
    <div class="row deja-history">
        <form method="post">
        {% csrf_token %}
        <button type="submit" name="deja" class="btn deja-history" value="{{deja.id}}">
                <img src="{{deja.img_url}}" class="deja-history" alt="{{deja.id}}">
            </button>
        <div class="row history-delete">
        <button type="submit" class="btn btn-secondary" name="delete" value={{deja.id}}>Delete</button>
        </div>
        </form>
    </div>
</div>
{% endfor %}

{% endblock content %}