{% extends 'index.html' %}

{% block content %}
<h1>History</h1>

{% for deja in dejas %}
<div class="container-fluid" id="deja-history">
    <div class="row" id="deja-history">
        <form method="post">
        {% csrf_token %}
        <button type="submit" name="deja" class="btn deja-history" id="deja-history" value="{{deja.id}}">
                <img src="{{deja.img_url}}" id="deja-history" alt="{{deja.id}}">
        </button>
        </form>
    </div>
</div>
{% endfor %}

{% endblock content %}