{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>dejaView</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
        <nav>
            <a class="navbar-brand" href="{% url 'deja:index' %}">
                dejaView
            </a>
        </nav>

        {% if messages %}
        <div class="messages">
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>
                    <strong>{{ message }}</strong>
            </div>
            {% endfor %}
        </div>
        {% endif %}

        {% block content %}
        <h1>{% if user.is_authenticated %} dejaView {% else %} dejaView</h1><h1>login or create an account to begin
            {% endif %}
        </h1>

        {% if user.is_authenticated %}
        <div><a href="{% url 'deja:deja' %}">Deja</div>
        <div><a href="{% url 'deja:history' %}">History</div>
        <div><a href="{% url 'deja:logout' %}">Logout</a></div>
        {% else %}
        <div><a href="{% url 'deja:login' %}">Login</a></div>
        <div><a href="{% url 'deja:register' %}">Register</a></div>
        {% endif %}

        {% endblock content %}
    </div>
    <!-- Script that connects page to Firebase -->
    <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase.js"></script>
    <script>
        var config = {
            apiKey: "AIzaSyAAw5FV9aw2OJBCMwLV8TVIJemk0dTQR38",
            authDomain: "dejaview-d81e4.firebaseapp.com",
            databaseURL: "https://dejaview-d81e4.firebaseio.com",
            projectId: "dejaview-d81e4",
            storageBucket: "dejaview-d81e4.appspot.com",
            messagingSenderId: "39327407953"
        };
        firebase.initializeApp(config);

        // Get a reference to the storage service, which is used to create references in your storage bucket
        function uploadimage() {
            // TODO: Change vars to lets and consts
            var storage = firebase.storage();
            var file = document.getElementById("image").files[0];
            // Reference to Firebase Storage
            var storageRef = storage.ref();

            var thisref = storageRef.child(file.name).put(file);

            thisref.on('state_changed', function (snapshot) {
            },

                function (error) {

                }, function () {
                    // Upload completed successfully, now we can get the download URL
                    var downloadURL = thisref.snapshot.ref.getDownloadURL().then(function (downloadURL) {
                        console.log('File available at', downloadURL);
                    alert("File uploaded successfully");
                    return document.getElementById("url").value = downloadURL;
                    });

                });
        }

    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>