{% extends 'index.html' %}

{% block content %}
<h1>Register</h1>

{% if registered %}
    <strong>Thank you for registering!</strong>
    <a href="{% url 'deja:index' %}">Return Home</a><br />
    {% else %}
<br />

        <form id="user_form" method="post" action="{% url 'deja:register' %}" enctype="multipart/form-data">
            {% csrf_token %}

            {{ user_form.as_p }}
            <button type="submit" class="btn btn-secondary" name="submit">Register</button>
        </form>
{% endif %}
{% endblock content %}